
*
	{
	  margin:0px;
	}

	h1
	        { color: fuchsia;
	}
	header,footer
	{
	 height:200px;
	 background-color: fuchsia;
	 color: white;
	}
	section
	{
	height: 500px;
	background-color: white;
	color: white;
	}

	a
	        {

	        float: left;
	        padding-left: 150px;
	        margin-left: 10px;
	        font-size: 22;
	        color: white;
	        }